<header class="navbar navbar-dark navbar-inner fixed-top navbar-expand">
  <div class="theme navbar-inner">
    <div class="navbar-container">
      <div class="navbar-brand-header">
        <div class="sidebar-collapse" #leftPanelToggle (click)="toggleCollapseSideBar()">
          <i class="burger-icon fa fa-bars"></i>
        </div>
        <div class="navbar-brand">
          <a href="/help/home">
          <img alt="EDC Logo" [src]="logoUrl">
        </a>
        </div>
        <span class="navbar-text">{{title}}</span>
      </div>
      <p class="navbar-version" *ngIf="version">V {{version}}</p>
      <p class="navbar-history">
        <i class="fa fa-angle-left left" aria-hidden="true" (click)="historyBack()"></i>
        <i class="fa fa-angle-right right" aria-hidden="true" (click)="historyForward()"></i>
      </p>
    </div>
  </div>
</header>
