/**
 *     -- HEADER & NAVBAR --
 */

/* Header: Burger menu background and icon colors */
.navbar .sidebar-collapse {
  background: rgb(60, 141, 188);
  color: rgb(238, 238, 238);
}

/* Header: Title font color */
.navbar .theme.navbar-inner .navbar-text {
  color: rgb(238, 238, 238);
}

/* Header: Background and other font colors */
.navbar .theme.navbar-inner, .navbar.navbar-inner {
  background: rgb(60, 141, 188);
  color: rgb(238, 238, 238);
}

/**
 *     -- LEFT SIDEBAR --
 */

/* Left sidebar: Background color */
.left-sidebar {
  background-color: rgb(255, 255, 255);
}

/* Search: Search icon foreground and background color */
.search-container .icon-container {
  color: rgb(60, 141, 188);
  background-color: rgb(255, 255, 255);
}

/* Search: Search input and placeholder foreground and background color */
.search-container .search-input,
.search-container .search-input::placeholder,
.search-container .search-input:-ms-input-placeholder,
.search-container .search-input::-ms-input-placeholder {
  color: #ffffff;
  background-color: rgb(28, 22, 194);
}

/* Table of contents: Text and bottom border color */
.left-sidebar .theme.left-sidebar-title {
  color: rgb(38, 38, 38);
  border-bottom: 3px solid rgb(60, 141, 188);
}

/* Left menu section titles: Title foreground and background color when collapsed */
.left-sidebar-content .strategy-title {
  color: rgb(115, 115, 115);
  background-color: rgb(255, 255, 255);
}

/* Left menu section titles: Title foreground and background color when not collapsed */
.left-sidebar-content .strategy-title.opened {
  background-color: rgb(243, 243, 243);
  color: rgb(51, 51, 51);
  font-weight: 600;
}

/* Left menu: font color */
.left-sidebar-content .theme.tree-item-header {
  color: rgb(51, 122, 183);
}

/* Links and articles header: background-color and text color */
.context-links .list-group .theme.list-group-item.header {
  background-color: rgb(60, 141, 188);
  color: rgb(255, 255, 255);
}

/* Links and articles panel toggle button on hover */
.theme.content .context .panel .panel-toggle:hover {
  background-color: rgb(60,141,188);
  border-color: rgb(238, 238, 238);
}

/* Toggle button arrow color on hover */
.theme.content .context .panel .panel-toggle:hover .arrow {
  border-color: white;
}

/**
 *     -- INFO PAGES --
 */

/* title color for the info pages */
.edc-info-content .theme.edc-info-title {
  color: rgb(60, 141, 188);
}

/**
 *     -- GLOSSARY BAR --
 */

/* Glossary bar: Header resizer */
.glossary-resizer {
  border-top: 1px rgb(189, 189, 189) solid;
}

/* Glossary bar: Header background */
.glossary-header, .glossary-resizer{
  background-color: rgb(238, 238, 238);
}

/* Glossary bar: Header title */
.glossary-header {
  color: rgb(115, 115, 115);
  border-bottom: 2px rgb(189, 189, 189) solid;
}

/* Glossary bar: Header close button */
.close-button {
  color: rgb(115, 115, 115);
}

/* Glossary bar: Content background */
.glossary-content {
  background-color: rgb(238, 238, 238);
}

/* Glossary bar: Content title */
.glossary-content .title{
  color: inherit;
}

/* Glossary bar: Content description */
.glossary-content .document-content{
  color: inherit;
}

/* Glossary bar: Full container */
.glossary-container {
  border-left: 1px rgb(189, 189, 189) solid;
}
